.imgCss {
    width: 2.08vw;
    height: 2.08vw;
}

@media only screen and (max-width: 768px) {
    .imgCss {
        width: 5.08vw;
        height: 5.08vw;
    }
}

.textDiv {
    margin-left: 1.38vw;
}

@media only screen and (max-width: 768px) {
    .textDiv {
        margin-left: 3vw;

        width: 40vw;
    }
}

.titleCss {
    font-weight: bold;
    font-size: 1.39vw;
}

@media only screen and (max-width: 768px) {
    .titleCss {
        font-size: 3.5vw;
    }
}

.titleAboutUsCss {
    margin-left: 1.39vw;
}

@media only screen and (max-width: 768px) {
    .titleAboutUsCss {
        margin-left: 3vw;
    }
}

.titleTechloreCss {
    margin-bottom: 0.69vw;
}

.infoCss {
    font-size: 1.39vw;
}

@media only screen and (max-width: 768px) {
    .infoCss {
        font-size: 3.5vw;
        left: 15vw;
    }
}

.infoAboutUsCss {
    position: absolute;
    margin-left: 10.42vw;
}

.aCss {
    font-weight: bold;
    font-size: 1.39vw;

    position: absolute;
    margin-left: 18.06vw;
}

@media only screen and (max-width: 768px) {
    .aCss {
        font-size: 3.5vw;
    
        left: 25vw;
    }
}

.aCss:hover,
.aCss:focus,
.aCss:active,
.aCss:visited {
    color: #4D4D4D;
}