.imgCss {
    width: 2.08vw;
    height: 2.08vw;
}

@media only screen and (max-width: 768px) {
    .imgCss {
        width: 4vw;
        height: 4vw;
    }
}

.textDiv {
    margin-left: 1.38vw;
}

@media only screen and (max-width: 768px) {
    .textDiv {
        width: 100%;
    }
}

.titleCss {
    font-weight: bold;
    font-size: 1.39vw;
}

@media only screen and (max-width: 768px) {
    .titleCss {
        font-size: 3.5vw;
    }
}

.titleAboutUsCss {
    margin-left: 1.39vw;
}

@media only screen and (max-width: 768px) {
    .titleAboutUsCss {
        margin-left: 3vw;
    }
}

.titleTechloreCss {
    margin-bottom: 0.69vw;
}

@media only screen and (max-width: 768px) {
    .titleTechloreCss {
        margin-left: 3vw;
        /* background-color: red; */
    }
}

.infoDiv{
    display: flex;
}

@media only screen and (max-width: 768px) {
    .infoDiv{
        margin-left: 2vw;
    }
}

.infoCss {
    font-size: 1.3vw;
}

@media only screen and (max-width: 768px) {
    .infoCss {
        font-size: 3.5vw;
    }
}

.infoAboutUsCss {
    margin-left: 1.42vw;
}

.aCss {
    font-weight: bold;
    font-size: 1.3vw;

    margin-left: 1vw;
    color: #4D4D4D;
}

@media only screen and (max-width: 768px) {
    .aCss {
        font-size: 3.5vw;
        margin-left: 2vw;
        color: #4D4D4D;
    }
}

.aCss:hover,
.aCss:focus,
.aCss:active,
.aCss:visited {
    color: #4D4D4D;
}