.totalDiv {
    width: 100%;
    height: 10.42vw;

    /* background-color: #EAD6C4; */
    background: linear-gradient(to bottom, #DBECF6, #ffffff);

    display: flex;
    align-items: center;
    justify-content: center;
}

@media only screen and (max-width: 768px) {
    .totalDiv {
        height: 25vw;
        flex-direction: row;
    }
}

.centerDiv {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    position: absolute;
}

@media only screen and (max-width: 768px) {
    .centerDiv {
        position: relative;
        width: 50%;
    }
}

.centerDetailDiv {
    display: flex;
    align-items: center;
    justify-content: center;

    margin: 0.35vw 0vw;
}

@media only screen and (max-width: 768px) {
    .centerDetailDiv {
        margin: 1vw 0vw;
    }
}

.centerDetailDiv img {
    margin: 0vw 0.7vw 0vw 0vw;
    width: 1.8vw;
    height: 1.8vw;
}

@media only screen and (max-width: 768px) {
    .centerDetailDiv img {
        width: 6vw;
        height: 6vw;
        margin-left: 1vw;
    }
}

.centerDetailDiv h2 {
    font-size: 1.3vw;
}

@media only screen and (max-width: 768px) {
    .centerDetailDiv h2 {
        font-size: 3vw;

        width: 32vw;
        margin-left: 1vw;
        
        color: #4D4D4D;
        text-decoration: none;
    }
}

.rightDiv {
    position: relative;
    left: 40%;
}

@media only screen and (max-width: 768px) {
    .rightDiv {
        width: 50%;
        left: 0%;

        display: flex;
        justify-content: end;
    }
}

.rightDiv h3 {
    font-size: 1.3vw;
    color: #9B9B9B;
}

@media only screen and (max-width: 768px) {
    .rightDiv h3 {
        font-size: 3vw;
        margin-right: 1vw;
    }
}