.totalDiv {
    position: fixed;
    width: 100%;
    height: 10%;
    /* height: 9.5vw; */

    z-index: 2;
}

@media only screen and (max-width: 768px) {
    .totalDiv {
        height: 20.2vw;
    }
}

.headerDiv {
    width: 100%;
    height: 100%;

    background-color: rgba(255, 255, 255, 0.8);
    /* background: linear-gradient(
        to bottom,
        rgba(198, 198, 198, 0.8) 0%,
        rgba(224, 224, 224, 0.8) 25%,
        rgba(255, 255, 255, 0.8) 50%,
        rgba(224, 224, 224, 0.8) 75%,
        rgba(198, 198, 198, 0.8) 100%
    ); */

    display: flex;
    align-items: center;
    justify-content: space-between;

    box-shadow: 0px 10px 18px rgba(0, 0, 0, 0.25);
}

@media only screen and (max-width: 768px) {
    .headerDiv {
        height: 15vw;
    }
}

.logoDiv {
    display: flex;
    align-items: center;
    justify-content: center;

    margin-left: 3%;
}

.logoDiv h1 {
    font-size: 1.8vw;
    font-weight: bold;
    color: #4D4D4D;

    cursor: pointer;
}

@media only screen and (max-width: 768px) {
    .logoDiv h1 {
        font-size: 4vw;
    }
}

.logoDiv img {
    width: 2.81vw;
    height: 3.47vw;

    margin-left: 0.7vw;
}

@media only screen and (max-width: 768px) {
    .logoDiv img {
        width: 6vw;
        height: 8vw;

        margin-left: 0.5vw;
    }
}

.menuDiv {
    display: flex;
    align-items: center;
    justify-content: center;

    margin-right: 3%;
}

.menuDiv h2 {
    font-size: 1.7vw;
    font-weight: bold;
    color: #4D4D4D;

    margin: 0vw 1vw;
    padding: 0.5vw 0.5vw;
}

@media only screen and (max-width: 768px) {
    .menuDiv h2 {
        font-size: 4vw;
    }
}

.menuDiv h2:hover {
    /* background-color: #E8E8E8; */
    box-shadow: inset 0 0 10px 5px rgba(0, 0, 0, 0.2);
    border-radius: 1vw;
}

.menuClick {
    font-size: 1.7vw;
    font-weight: bold;
    color: #4D4D4D;

    margin: 0vw 1vw;
    padding: 0.5vw 0.5vw;
    box-shadow: inset 0 0 10px 5px rgba(0, 0, 0, 0.2);
    border-radius: 1vw;
}

.rightTotal {
    position: fixed;
    width: 6%;
    height: 88%;
    z-index: 2;

    right: 3%;
    top: 12%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:space-around;

    /* background-color: red; */
}

.rightTotal div {
    padding: 0.5vw 0.5vw;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 40%;
}

.rightTotal div:hover {
    box-shadow: inset 0 0 10px 5px rgba(0, 0, 0, 0.4);
}