.totalDiv {
    position: fixed;
    width: 100%;
    height: 9.5vw;

    z-index: 2;
}

@media only screen and (max-width: 768px) {
    .totalDiv {
        height: 15.17vw;
    }
}

.headerDiv {
    width: 100%;
    height: 5.9vw;

    background-color: #E6E6E6;

    display: flex;
    align-items: center;
    justify-content: space-between;

    box-shadow: 0px 10px 15px rgba(0, 0, 0, 8);
}

@media only screen and (max-width: 768px) {
    .headerDiv {
        height: 10.15vw;
    }
}

.logoDiv {
    display: flex;
    align-items: center;
    justify-content: center;

    margin-left: 4.17vw;
}

.logoDiv h1 {
    font-size: 2vw;
    font-weight: bold;
    color: black;
}

@media only screen and (max-width: 768px) {
    .logoDiv h1 {
        /* font-size: 3.5vw; */
        font-size: 4vw;
    }
}

.logoDiv img {
    width: 2.81vw;
    height: 3.47vw;

    margin-left: 0.7vw;
}

@media only screen and (max-width: 768px) {
    .logoDiv img {
        width: 4.81vw;
        height: 5.47vw;
    }
}

.menuDiv {
    display: flex;
    align-items: center;
    justify-content: center;

    margin-right: 2.43vw;
}

.menuDiv h2 {
    font-size: 1.8vw;
    font-weight: bold;
    color: #9B9B9B;

    margin: 0vw 1.74vw;
}

@media only screen and (max-width: 768px) {
    .menuDiv h2 {
        font-size: 3.5vw;
    }
}

.menuDiv h2:hover {
    color: #4D4D4D;
}

.circleDiv {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

@media only screen and (max-width: 768px) {
    .circleDiv {
        overflow: hidden;
        width: 768px;
    }
}

.circle {
    width: 6.9vw;
    height: 3.45vw;
    background-color: #F0F0F0;
    opacity: 0.7;
    border-top-left-radius: 6.9vw;
    border-top-right-radius: 6.9vw;
    position: relative;
    overflow: hidden;
    transform: rotate(180deg);
}

@media only screen and (max-width: 768px) {
    .circle {
        width: 12vw; /* 원의 크기를 키움 */
        height: 5vw;
        border-top-left-radius: 12vw;
        border-top-right-radius: 12vw;
    }
}