.totalDiv {
    position: fixed;
    width: 100%;
    height: 10%;

    z-index: 2;
}

@media only screen and (max-width: 768px) {
    .totalDiv {
        width: 100vw;
        height: 15vw;
    }
}

.headerDiv {
    width: 100%;
    height: 100%;

    background-color: rgba(255, 255, 255, 0.8);

    display: flex;
    align-items: center;
    justify-content: space-between;

    box-shadow: 0px 10px 18px rgba(0, 0, 0, 0.25);
}

.logoDiv {
    display: flex;
    align-items: center;
    justify-content: center;

    margin-left: 3%;
}

.logoDiv h1 {
    font-size: 1.8vw;
    font-weight: bold;
    color: #4D4D4D;

    cursor: pointer;
}

.logoDiv img {
    width: 2.81vw;
    height: 3.47vw;

    margin-left: 0.7vw;
}

@media only screen and (max-width: 768px) {
    .logoDiv img {
        width: 80%;
        height: 80%;

        margin-left: 0%;
    }
}

.menuDiv {
    display: flex;
    align-items: center;
    justify-content: center;

    margin-right: 3%;
}

.menuDiv h2 {
    font-size: 1.7vw;
    font-weight: bold;
    color: #4D4D4D;

    margin: 0vw 1vw;
    padding: 0.5vw 0.5vw;
}

@media only screen and (max-width: 768px) {
    .menuDiv {
        justify-content: space-between;
        width: 55%;

        margin-right: 8%;
    }

    .menuDiv h2 {
        font-size: 4vw;

        margin: 0vw 0vw 0vw 2%;
        padding: 1vw 1vw;
    }
}

.menuDiv h2:hover {
    /* background-color: #E8E8E8; */
    box-shadow: inset 0 0 10px 5px rgba(0, 0, 0, 0.2);
    border-radius: 1vw;
}

.menuClick {
    font-size: 1.7vw;
    font-weight: bold;
    color: #4D4D4D;

    margin: 0vw 1vw;
    padding: 0.5vw 0.5vw;
    box-shadow: inset 0 0 10px 5px rgba(0, 0, 0, 0.2);
    border-radius: 1vw;
}

.rightTotal {
    position: fixed;
    /* width: 6%; */
    /* width: 27%; */
    height: 80%;
    z-index: 2;

    right: 4%;
    top: 15%;

    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content:space-around;
}

.mouseEnterDirect {
    padding: 0.5vw 0.5vw;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 40%;
}

.mouseLeaveDirect {
    box-shadow: inset 0 0 10px 5px rgba(0, 0, 0, 0.4);
}

.directDisable {
    background-color: rgba(0, 0, 0, 0.5);
    background-color: #7F7F7F;
}

.infoDiv {
    position: absolute;
    top: 56%;
    
    display: flex;
    align-items: center;
    justify-content: flex-end;

    width: 28vw;
}

.infoP {
    background-color: #F5F5F5;
    border-radius: 1vw;
    font-size: 1.3vw;
    height: 100%;

    padding: 4% 4%;
    box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.6);
}