.iconDiv {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 1vw;
}

@media only screen and (max-width: 768px) {
    .iconDiv {
        border-radius: 5vw;
    }
}

.iconImg {
    width: 60%;
    height: 60%;
}

.iconName {
    font-size: 0.97vw;
    margin-top: 0.69vw;
}

@media only screen and (max-width: 768px) {
    .iconName {
        font-size: 3vw;
        margin-top: 0.6vw;
    }
}