.totalDiv {
    width: 34.72vw;
    height: 50vw;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

    margin: 4vw 4vw;
}

@media only screen and (max-width: 768px) {
    .totalDiv {
        width: 83.33vw;
        height: 120vw;
    
        margin: 10vw 0vw 10vw 0vw;
    
        justify-content: space-between;
    }
}

.projectDiv {
    width: 34.72vw;
    height: 41.67vw;

    background-color: white;
    border-radius: 1.04vw;
    overflow: hidden;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

@media only screen and (max-width: 768px) {
    .projectDiv {
        width: 83.33vw;
        height: 100vw;
    
        border-radius: 1vh;
    }
}

.projectNameDiv {
    width: 34.72vw;
    height: 3.61vw;

    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 1.39vw;

    font-weight: bold;
}

@media only screen and (max-width: 768px) {
    .projectNameDiv {
        width: 83.33vw;
        height: 8.66vw;
    
        font-size: 1.8vh;
    }
}

.projectName {
    position: absolute;
}

.switchDiv {
    width: 9vw;
    height: 2.8vw;
    border-radius: 2.78vw;
    background-color: #E1E1E1;

    position: relative;
    margin-left: 25vw;

    display: flex;
    justify-content: space-between;
    align-items: center;

    box-shadow: inset 0px 0px 5px rgba(0, 0, 0, 0.2);

    /* background-color: red; */
}

@media only screen and (max-width: 768px) {
    .switchDiv {
        width: 25vw;
        height: 6.72vw;
        
        border-radius: 2vh;
        margin-left: 56vw;
    }
}

.switchDiv p{
    font-size: 0.97vw;
    font-weight: 400;
    
    z-index: 1;

    cursor: pointer;
}

@media only screen and (max-width: 768px) {
    .switchDiv p{
        font-size: 1.4vh;
    }
}

.switchDiv p:first-of-type {
    margin-left: 0.5vw;
}

.switchDiv p:last-of-type {
    margin-right: 0.5vw;
}

.switchBtn {
    width: 4.5vw;
    height: 2.8vw;
    border-radius: 2.78vw;
    background-color: #F0F0F0;

    position: absolute;

    box-shadow: 5px 0px 5px rgba(0, 0, 0, 0.3);
}

@media only screen and (max-width: 768px) {
    .switchBtn {
        width: 12vw;
        height: 6.72vw;
        
        border-radius: 2vh;
    }
}

.goToPicture {
    animation-direction: reverse;
    animation-duration: 0.3s;
    animation-name: switchChange;
}

.goToYouTube {
    left: 45%;
    box-shadow: -5px 0px 5px rgba(0, 0, 0, 0.3);
    
    width: 5vw;

    animation-direction: normal;
    animation-duration: 0.3s;
    animation-name: switchChange;
}

@media only screen and (max-width: 768px) {
    .goToYouTube {
        width: 13.8vw;
    }
}

@keyframes switchChange {
    0% {
        left: 0%;
    }

    25% {
        left: 11.25%;
    }

    50% {
        left: 22.5%;
    }

    75% {
        left: 33.75%;
    }

    100% {
        left: 45%;
    }
}

.projectPictureDiv {
    width: 34.72vw;
    height: 25.9vw;

    background-color: #9B9B9B;
}

@media only screen and (max-width: 768px) {
    .projectPictureDiv {
        width: 83.33vw;
        height: 62.16vw;
    }
}

.projectPictureDiv img{
    width: 34.72vw;
    height: 25.9vw;
}

@media only screen and (max-width: 768px) {
    .projectPictureDiv img {
        width: 83.33vw;
        height: 62.16vw;
    }
}

.projectYouTubeIframe {
    width: 34.72vw;
    height: 25.9vw;
}

@media only screen and (max-width: 768px) {
    .projectYouTubeIframe {
        width: 83.33vw;
        height: 62.16vw;
    }
}

.sectionDiv {
    width: 34.72vw;
    height: 25.9vw;

    position: relative;
    top: -26.1vw;

    display: flex;
    align-items: center;
    justify-content:space-between;

    background-color: red;
}

@media only screen and (max-width: 768px) {
    .sectionDiv {
        width: 83.33vw;
        height: 62.16vw;

        top: -62.16vw;
    }
}

.sectionDiv div{
    width: 11.57vw;
    height: 25.9vw;
}

@media only screen and (max-width: 768px) {
    .sectionDiv div {
        width: 50%;
        height: 100%;

        background-color: yellow;
    }
}

.projectPictureSelectTotalDiv {
    position: relative;
    height: 0.69vw;
    
    top: -28vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.projectPictureSelectDiv {
    width: 0.69vw;
    height: 0.69vw;
    border-radius: 50%;
    margin: 0vw 0.35vw;
}

.textDiv{
    /* padding: 2.08vw; */
    margin-top: 1.4vw;
}

.namePeriodDiv{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    
    /* margin-top: 1.38vw; */
}

.namePeriodDiv h1{
    font-size: 1.39vw;
    /* 20px */
    font-weight: bold;
}

.namePeriodDiv p{
    margin-left: 0.69vw;

    font-size: 0.97vw;
}

.aboutProject {
    margin-top: 0.69vw;
    font-size: 1.11vw;
    width: 31vw;
    /* height: 4.76vw; */
    height: 5.2vw;
    overflow-y: auto;
}

.aboutProject::-webkit-scrollbar {
    /* width: 0.35vw; */
    width: 0.5vw;
}

.aboutProject::-webkit-scrollbar-thumb {
    background-color: #C6C6C6;
    border-radius: 2vw;
}

.aboutProject::-webkit-scrollbar-track {
    background-color: transparent;
}

.more{
    margin: 0.69vw 0vw 0vw 0vw;

    font-weight: 600;
    text-decoration-line: underline;
    color: #3998EF;
    cursor: pointer;
}

.webSiteDiv {
    width: 34.72vw;
    height: 6.94vw;
    margin-top: 1.38vw;

    background-color: white;
    border-radius: 1.04vw;
    overflow: hidden;

    display: flex;
    align-items: center;
    justify-content: center;
}

@media only screen and (max-width: 768px) {
    .webSiteDiv {
        width: 83.33vw;
        height: 16.66vw;

        margin-top: 0vw;

        border-radius: 1vh;
    }
}

.onMouseEnter{
    border-radius: 50%;
    
    display: flex;
    align-items: center;
    justify-content: center;
}

.onMouseEnterDiv1 {
    width: 6vw;
    height: 6vw;

    margin: 0vw 2.5vw;

    animation-direction: alternate;
    animation-iteration-count: infinite;
    animation-duration: 1.2s;
    animation-name: DivTwinkling1;
}

@keyframes DivTwinkling1 {
    0% {
        background-color: rgba(255, 255, 255, 0);
    }
    25% {
        background-color: rgba(255, 255, 255, 0);
    }
    50% {
        background-color: rgba(133, 133, 133, 0.2);
    }
    75% {
        background-color: rgba(255, 255, 255, 0);
    }
    100% {
        background-color: rgba(255, 255, 255, 0);
    }
}

.onMouseEnterDiv2 {
    width: 4.5vw;
    height: 4.5vw;

    position: absolute;

    animation-direction: alternate;
    animation-iteration-count: infinite;
    animation-duration: 1.2s;
    animation-name: DivTwinkling2;
}

@keyframes DivTwinkling2 {
    0% {
        background-color: rgba(255, 255, 255, 0);
    }
    25% {
        background-color: rgba(133, 133, 133, 0.2);
    }
    50% {
        background-color: rgba(133, 133, 133, 0.2);
    }
    75% {
        background-color: rgba(133, 133, 133, 0.2);
    }
    100% {
        background-color: rgba(255, 255, 255, 0);
    }
}

.onMouseEnterDiv3 {
    background-color: rgba(133, 133, 133, 0.2);

    width: 3vw;
    height: 3vw;

    position: absolute;
}

.onMouseLeaveDiv {
    border-radius: 50%;
    
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: white;
    width: 6vw;
    height: 6vw;

    margin: 0vw 2.5vw;
}

.webSite {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    font-size: 1.11vw;
    text-decoration: none;
    color: #595959;

    /* margin: 0vw 3.47vw; */
}

.webSite img{
    width: 2.43vw;
    height: 2.43vw;

    margin-bottom: 0.3vw;
}