.totalDiv {
    width: 34.72vw;
    height: 50vw;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

    margin: 4vw 4vw;
}

.projectDiv {
    width: 34.72vw;
    height: 41.67vw;

    background-color: white;
    border-radius: 1.04vw;
    overflow: hidden;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.projectNameDiv {
    width: 34.72vw;
    height: 3.61vw;

    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 1.39vw;
    font-weight: bold;
}

.projectPictureDiv {
    width: 34.72vw;
    height: 25.9vw;

    background-color: #9B9B9B;
}

.projectPictureDiv img{
    width: 34.72vw;
    height: 25.9vw;
}

.sectionDiv {
    width: 34.72vw;
    height: 25.9vw;

    position: relative;
    top: -26.1vw;

    display: flex;
    align-items: center;
    justify-content:space-between;
}

.sectionDiv div{
    width: 11.57vw;
    height: 25.9vw;
}

.projectPictureSelectTotalDiv {
    position: relative;
    height: 0.69vw;
    
    top: -28vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.projectPictureSelectDiv {
    width: 0.69vw;
    height: 0.69vw;
    border-radius: 50%;
    margin: 0vw 0.35vw;
}

.textDiv{
    padding: 2.08vw;
}

.namePeriodDiv{
    display: flex;
    align-items: center;
    justify-content: flex-start;

    /* margin-top: 1.38vw; */
}

.namePeriodDiv h1{
    /* margin-left: 2.08vw; */

    font-size: 1.39vw;
    font-weight: bold;
}

.namePeriodDiv p{
    margin-left: 0.69vw;

    font-size: 0.97vw;
}

.aboutProject {
    margin-top: 0.69vw;
    font-size: 0.97vw;
    width: 31vw;
    height: 4.75vw;
    overflow-y: auto;
}

.aboutProject::-webkit-scrollbar {
    width: 0.35vw;
}

.aboutProject::-webkit-scrollbar-thumb {
    background-color: #C6C6C6;
    border-radius: 2vw;
}

.aboutProject::-webkit-scrollbar-track {
    background-color: transparent;
}

.more{
    margin: 0.69vw 0vw 0vw 0vw;
    /* padding: 0vw 2.08vw; */

    font-weight: 600;
    text-decoration-line: underline;
    color: #3998EF;
    cursor: pointer;
}

.webSiteDiv {
    width: 34.72vw;
    height: 6.94vw;
    margin-top: 1.38vw;

    background-color: white;
    border-radius: 1.04vw;
    overflow: hidden;

    display: flex;
    align-items: center;
    justify-content: center;
}

.onMouseEnter{
    border-radius: 50%;
    
    display: flex;
    align-items: center;
    justify-content: center;
}

.onMouseEnterDiv1 {
    width: 6vw;
    height: 6vw;

    margin: 0vw 2.5vw;

    animation-direction: alternate;
    animation-iteration-count: infinite;
    animation-duration: 1.2s;
    animation-name: DivTwinkling1;
}

@keyframes DivTwinkling1 {
    0% {
        background-color: rgba(255, 255, 255, 0);
    }
    25% {
        background-color: rgba(255, 255, 255, 0);
    }
    50% {
        background-color: rgba(133, 133, 133, 0.2);
    }
    75% {
        background-color: rgba(255, 255, 255, 0);
    }
    100% {
        background-color: rgba(255, 255, 255, 0);
    }
}

.onMouseEnterDiv2 {
    width: 4.5vw;
    height: 4.5vw;

    position: absolute;

    animation-direction: alternate;
    animation-iteration-count: infinite;
    animation-duration: 1.2s;
    animation-name: DivTwinkling2;
}

@keyframes DivTwinkling2 {
    0% {
        background-color: rgba(255, 255, 255, 0);
    }
    25% {
        background-color: rgba(133, 133, 133, 0.2);
    }
    50% {
        background-color: rgba(133, 133, 133, 0.2);
    }
    75% {
        background-color: rgba(133, 133, 133, 0.2);
    }
    100% {
        background-color: rgba(255, 255, 255, 0);
    }
}

.onMouseEnterDiv3 {
    background-color: rgba(133, 133, 133, 0.2);

    width: 3vw;
    height: 3vw;

    position: absolute;
}

.onMouseLeaveDiv {
    border-radius: 50%;
    
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: white;
    width: 6vw;
    height: 6vw;

    margin: 0vw 2.5vw;
}

.webSite {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    font-size: 1.18vw;
    text-decoration: none;
    color: #595959;

    /* margin: 0vw 3.47vw; */
}

.webSite img{
    width: 2.43vw;
    height: 2.43vw;

    margin-bottom: 0.3vw;
}