.totalDiv {
    width: 34.72vw;
    height: 49.33vw;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

    margin: 4vw 4vw;

    /* background-color: red; */
}

@media only screen and (max-width: 768px) {
    .totalDiv {
        width: 83.33vw;
        height: 118vw;
    
        margin: 10vw 0vw 10vw 0vw;
    
        justify-content: space-between;
    }
}

.projectDiv {
    width: 34.72vw;
    height: 40.97vw;

    background-color: white;
    border-radius: 1vw;
    overflow: hidden;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

@media only screen and (max-width: 768px) {
    .projectDiv {
        width: 83.33vw;
        height: 95vw;
        /* height: 45.5vh; */
    
        border-radius: 2vw;
    }
}

.projectNameDiv {
    width: 34.72vw;
    height: 3.61vw;

    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 1.39vw;

    font-weight: bold;
}

@media only screen and (max-width: 768px) {
    .projectNameDiv {
        width: 83.33vw;
        height: 9vw;
    
        font-size: 4vw;
    }
}

.projectName {
    position: absolute;
}

.switchDiv {
    width: 9vw;
    height: 2.8vw;
    border-radius: 2.78vw;
    background-color: #E1E1E1;

    position: relative;
    margin-left: -25vw;

    display: flex;
    justify-content: space-between;
    align-items: center;

    box-shadow: inset 0px 0px 5px rgba(0, 0, 0, 0.2);

    /* background-color: red; */
}

@media only screen and (max-width: 768px) {
    .switchDiv {
        width: 24vw;
        height: 6.72vw;
        
        border-radius: 4vw;
        margin-left: -56vw;
    }
}

.switchDiv p{
    font-size: 0.97vw;
    font-weight: 400;
    
    z-index: 1;

    cursor: pointer;
}

@media only screen and (max-width: 768px) {
    .switchDiv p{
        font-size: 2.5vw;
    }
}

.switchDiv p:first-of-type {
    margin-left: 0.5vw;
}

@media only screen and (max-width: 768px) {
    .switchDiv p:first-of-type {
        margin-left: 1vw;
    }
}

.switchDiv p:last-of-type {
    margin-right: 0.5vw;
}

@media only screen and (max-width: 768px) {
    .switchDiv p:last-of-type {
        margin-right: 1.5vw;
    }
}

.switchBtn {
    width: 4.5vw;
    height: 2.8vw;
    border-radius: 2.78vw;
    background-color: #F0F0F0;

    position: absolute;

    box-shadow: 5px 0px 5px rgba(0, 0, 0, 0.3);
}

@media only screen and (max-width: 768px) {
    .switchBtn {
        width: 12vw;
        height: 6.72vw;
        
        border-radius: 4vw;
    }
}

.goToPicture {
    animation-direction: reverse;
    animation-duration: 0.3s;
    animation-name: switchChange;
}

.goToYouTube {
    left: 45%;
    box-shadow: -5px 0px 5px rgba(0, 0, 0, 0.3);
    
    width: 5vw;

    animation-direction: normal;
    animation-duration: 0.3s;
    animation-name: switchChange;
}

@media only screen and (max-width: 768px) {
    .goToYouTube {
        width: 13.2vw;
    }
}

@keyframes switchChange {
    0% {
        left: 0%;
    }

    25% {
        left: 11.25%;
    }

    50% {
        left: 22.5%;
    }

    75% {
        left: 33.75%;
    }

    100% {
        left: 45%;
    }
}

.projectPictureDiv {
    width: 34.72vw;
    height: 25.9vw;
    overflow: hidden;

    background-color: #E8E8E8;
}

@media only screen and (max-width: 768px) {
    .projectPictureDiv {
        width: 83.33vw;
        height: 62.16vw;
    }
}

.projectPictureDiv img{
    width: 34.72vw;
    height: 25.9vw;
    object-fit: contain;
}

@media only screen and (max-width: 768px) {
    .projectPictureDiv img {
        width: 83.33vw;
        height: 62.16vw;
    }
}

.projectYouTubeIframe {
    width: 34.72vw;
    height: 25.9vw;
}

@media only screen and (max-width: 768px) {
    .projectYouTubeIframe {
        width: 83.33vw;
        height: 62.16vw;
    }
}

.textDiv{
    /* padding: 2.08vw; */
    margin-top: 1.5vw;
    position: relative;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;

    /* background-color: red; */
}

@media only screen and (max-width: 768px) {
    .textDiv {
        margin-top: 0vw;
        height: 24vw;
    }
}

.namePeriodDiv{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    
    /* margin-top: 1.38vw; */
}

.namePeriodDiv h1{
    font-size: 1.39vw;
    /* 20px */
    font-weight: bold;
}

@media only screen and (max-width: 768px) {
    .namePeriodDiv h1 {
        font-size: 4vw;
        margin-left: 4vw;
    }
}

.namePeriodDiv p{
    margin-left: 0.69vw;

    /* font-size: 0.97vw; */
}

@media only screen and (max-width: 768px) {
    .namePeriodDiv p {
        margin-left: 2vw;

        font-size: 3vw;
    }
}

.mainAboutProject {
    margin: 0.69vw 0vw 1.38vw 0vw;
    width: 31vw;
    /* height: 5.2vw; */
    /* overflow-y: auto; */

    /* white-space: pre-wrap; */
    /* text-overflow: ellipsis; */
    /* background-color: red; */

    font-size: 1.39vw;
}

@media only screen and (max-width: 768px) {
    .mainAboutProject {
        width: 90%;
        /* height: 6.5vh; */

        margin: 2vw 0vw 2vw 4vw;

        font-size: 3.5vw;

        /* background-color: yellow; */
    }
}

.more{
    /* margin-top: 0.69vw; */

    font-weight: 600;
    font-size: 1.39vw;
    /* text-decoration-line: underline; */
    color: #3998EF;
    cursor: pointer;
}

.more:hover {
    color: #1E70BF;
}

@media only screen and (max-width: 768px) {
    .more {
        margin-left: 4vw;
        font-size: 3.5vw;
    }

    .more:hover {
        color: #3998EF;
    }
}

.webSiteDiv {
    width: 34.72vw;
    height: 6.94vw;
    margin-top: 1.38vw;

    background-color: white;
    border-radius: 1vw;
    overflow: hidden;

    display: flex;
    align-items: center;
    justify-content: center;
}

@media only screen and (max-width: 768px) {
    .webSiteDiv {
        width: 83.33vw;
        height: 16vw;

        margin-top: 0vw;

        border-radius: 2vw;
    }
}

.onMouseEnter{
    border-radius: 50%;
    
    display: flex;
    align-items: center;
    justify-content: center;
}

.onMouseEnterDiv1 {
    width: 6vw;
    height: 6vw;

    margin: 0vw 2.5vw;

    animation-direction: alternate;
    animation-iteration-count: infinite;
    animation-duration: 1.2s;
    animation-name: DivTwinkling1;
}

@media only screen and (max-width: 768px) {
    .onMouseEnterDiv1 {
        width: 15vw;
        height: 15vw;

        margin: 0vw 3vw;

        animation-duration: 0s;
    }
}

@keyframes DivTwinkling1 {
    0% {
        background-color: rgba(255, 255, 255, 0);
    }
    25% {
        background-color: rgba(255, 255, 255, 0);
    }
    50% {
        background-color: rgba(133, 133, 133, 0.2);
    }
    75% {
        background-color: rgba(255, 255, 255, 0);
    }
    100% {
        background-color: rgba(255, 255, 255, 0);
    }
}

.onMouseEnterDiv2 {
    width: 4.5vw;
    height: 4.5vw;

    position: absolute;

    animation-direction: alternate;
    animation-iteration-count: infinite;
    animation-duration: 1.2s;
    animation-name: DivTwinkling2;
}

@media only screen and (max-width: 768px) {
    .onMouseEnterDiv2 {
        width: 11.25vw;
        height: 11.25vw;

        animation-duration: 0s;
    }
}

@keyframes DivTwinkling2 {
    0% {
        background-color: rgba(255, 255, 255, 0);
    }
    25% {
        background-color: rgba(133, 133, 133, 0.2);
    }
    50% {
        background-color: rgba(133, 133, 133, 0.2);
    }
    75% {
        background-color: rgba(133, 133, 133, 0.2);
    }
    100% {
        background-color: rgba(255, 255, 255, 0);
    }
}

.onMouseEnterDiv3 {
    background-color: rgba(133, 133, 133, 0.2);

    width: 3vw;
    height: 3vw;

    position: absolute;
}

@media only screen and (max-width: 768px) {
    .onMouseEnterDiv3 {
        width: 7.5vw;
        height: 7.5vw;
        
        background-color: white;
    }
}

.onMouseLeaveDiv {
    border-radius: 50%;
    
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: white;
    width: 6vw;
    height: 6vw;

    margin: 0vw 2.5vw;
}

@media only screen and (max-width: 768px) {
    .onMouseLeaveDiv {
        margin: 0vw 7.5vw;
    }
}

.webSite {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    text-decoration: none;
    color: #595959;

    /* margin: 0vw 3.47vw; */
}

@media only screen and (max-width: 768px) {
    .webSite {
        font-size: 3vw;
    }
}


.webSite img{
    width: 2.43vw;
    height: 2.43vw;

    margin-bottom: 0.3vw;
}

@media only screen and (max-width: 768px) {
    .webSite img{
        width: 7.29vw;
        height: 7.29vw;
    
        margin-bottom: 1vw;
    }
}