.totalDiv {
    width: 100%;
    height: 100vh;

    background: linear-gradient(to bottom, #000000, #1B4669);
}

.textDiv {
    position: relative; 
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 56.46vw;
    height: 24.5vw;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

@media only screen and (max-width: 768px) {
    .textDiv {
        top: 55%;
        width: 95vw;
        height: 88vw;
    }
}

.textDiv h1 {
    font-size: 2.78vw;
    font-weight: bold;
    color: #FFFFFF;
    text-align: center;

}

@media only screen and (max-width: 768px) {
    .textDiv h1 {
        font-size: 6vw;
        font-weight: bold;
    }
}

.h1TwinklingSetting {
    animation-duration: 2s;
    animation-name: slideDown;

    position: relative;
    top: -4vw;
}

@media only screen and (max-width: 768px) {
    .h1TwinklingSetting {
        animation-name: slideDownMobile;

        top: -30vw;
    }
}

@keyframes slideDown {
    from {
        top: 20vw;
    }
    to {
        top: -4vw;
    }
}

@keyframes slideDownMobile {
    from {
        top: 70vw;
    }
    to {
        top: -30vw;
    }
}

@keyframes h1Twinkling {
    0% {
        text-shadow: 0.14vw 0.14vw 0.69vw rgba(255, 255, 255, 0.5);
    }

    /* 25% {
        text-shadow: 0.14vw 0.14vw 1.04vw rgba(255, 255, 255, 0.8);
    } */

    50% {
        text-shadow: 0.14vw 0.14vw 1.39vw rgba(255, 255, 255, 1);
    }

    /* 75% {
        text-shadow: 0.14vw 0.14vw 1.04vw rgba(255, 255, 255, 0.8);
    } */

    100% {
        text-shadow: 0.14vw 0.14vw 0.69vw rgba(255, 255, 255, 0.5);
    }
}

.textDiv div {
    position: absolute;
    width: 3vw;
    height: 3vw;

    top: 8vw;

    display: flex;
    align-items: center;
    justify-content: center;

}

@media only screen and (max-width: 768px) {
    .textDiv div {
        width: 20vw;
        height: 20vw;
    
        top: 28%;
    }
}

.imgMovingSetting {
    width: 2.08vw;
    height: 2.08vw;

    cursor: pointer;

    animation-direction: alternate;
    animation-iteration-count: infinite;

    animation-duration: 1s;
    animation-name: imgMoving;

    color: #FFFFFF;
}

@media only screen and (max-width: 768px) {
    .imgMovingSetting {
        width: 10vw;
        height: 10vw;

        animation-name: imgMovingMobile;
    }
}

.introduce {
    font-size: 1.3vw;

    text-align: center;
    line-height: 1.5;

    position: absolute;
    top: 18vw;

    color: #FFFFFF;

    animation-duration: 4s;
    animation-name: showAnime;
}

@keyframes showAnime {
    0% {
        color: rgba(255, 255, 255, 0);
    }

    25% {
        color: rgba(255, 255, 255, 0);
    }

    50% {
        color: rgba(255, 255, 255, 0.8);
    }

    75% {
        color: rgba(255, 255, 255, 0.9);
    }

    100% {
        color: rgb(255, 255, 255);
    }
}

.clickIntroduce {
    font-size: 1.39vw;

    text-align: center;
    line-height: 1.5;

    position: absolute;
    top: 14vw;

    background-color: #FFFFFF;
    opacity: 0.7;
    border-radius: 0.52vw;
    padding: 0vw 0.8vw;

    color: #000000;
}

@media only screen and (max-width: 768px) {
    .introduce {
        font-size: 3.5vw;
        top: 60%;
    }

    .clickIntroduce {
        font-size: 4vw;
        top: 60%;
        border-radius: 2vw;
    }
}

.star, .star2, .star3, .star4 {
    z-index: 1;
    border-radius: 50%;
    background-color: white;
    position: absolute;
    overflow: hidden;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    border-left: 0.34vw solid transparent;
    border-right: 0.34vw solid transparent;
}

.star2 {
    transform: translate(-0%, -0%) rotate(90deg);
}

.star3 {
    transform: translate(-0%, -0%) rotate(45deg);
}

.star4 {
    transform: translate(-0%, -0%) rotate(135deg);
}

/* 크기 */
.style1 {
    width: 0.1vw;
    height: 0.1vw;
}
.style2 {
    width: 0.2vw;
    height: 0.1vw;
}
.style3 {
    width: 0.3vw;
    height: 0.2vw;
}


@media only screen and (max-width: 768px) {
    .style1 {
        width: 1vw;
        height: 0.1vw;
    }
    .style2 {
        width: 2vw;
        height: 0.1vw;
    }
    .style3 {
        width: 3vw;
        height: 0.1vw;
    }
}

/* 투명도 */
.opacity1 {
    opacity: 0.8;
}
.opacity2 {
    opacity: 0.4;
}
.opacity3 {
    opacity: 0.1;
}

/* 반짝임 애니메이션 */
.twinkle1 {
    animation-duration: 0.5s;
    animation-name: twinkling;
}
.twinkle2 {
    animation-duration: 1s;
    animation-name: twinkling;
}
.twinkle3 {
    animation-duration: 1.5s;
    animation-name: twinkling;
}
.twinkle4 {
    animation-duration: 2s;
    animation-name: twinkling;
}

@keyframes twinkling {
    0% {
        box-shadow: 0 0 0.69vw 0vw rgb(255, 255, 255, 0.1);
    }

    50% {
        box-shadow: 0 0 0.69vw 0.14vw rgb(255, 255, 255, 0.5);
    }

    100% {
        box-shadow: 0 0 0.69vw 0vw rgb(255, 255, 255, 0.1);
    }
}

@media only screen and (max-width: 768px) {
    @keyframes twinkling {
        0% {
            box-shadow: 0 0 2vw 0vw rgb(255, 255, 255, 0.1);
        }
    
        50% {
            box-shadow: 0 0 2vw 0.14vw rgb(255, 255, 255, 0.5);
        }
    
        100% {
            box-shadow: 0 0 2vw 0vw rgb(255, 255, 255, 0.1);
        }
    }
}