.totalDiv {
    width: 100vw;
    height: 100vh;

    /* background: linear-gradient(to bottom, #1B4669, #668DAE); */
}

@media only screen and (max-width: 768px) {
    .totalDiv {
        height: 100vh;
    }
}

.centerDiv {
    position: relative; 
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.boxDiv {
    background-color: #F5F5F5;
    border-radius: 1vw;

    width: 70%;
    height: 38vw;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    overflow: hidden;
}

@media only screen and (max-width: 768px) {
    .centerDiv {
        position: relative; 
        top: 54%;
        height: 80%;
    }

    .boxDiv {
        width: 80%;
        height: 150vw;
        border-radius: 2vw;

        flex-direction: column;
        /* background-color: rebeccapurple; */
    }
}

.leftDiv {
    width: 100%;
    height: 41.67vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media only screen and (max-width: 768px) {
    .leftDiv {
        width: 100%;
        height: 40%;
    }
}

.pictureDiv {
    background-color: #F5F5F5;
    border-radius: 1vw;

    width: 21vw;
    height: calc(21vw * 4 / 3);

    overflow: hidden;
}

@media only screen and (max-width: 768px) {
    .pictureDiv {
        width: 35vw;
        height: calc(35vw * 4 / 3);
    }
}

.pictureDiv img {
    width: 100%;
    height: 100%;
    object-fit: fill;
}

.centerLine {
    width: 0.08vw;
    height: 65%;

    overflow: hidden;
}

@media only screen and (max-width: 768px) {
    .centerLine {
        width: 65%;
        height: 0.2vw;

        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }
}

.centerLine div {
    height: 100%;
    border-left: 0.8vw solid #C6C6C6;
    border-right: 0.8vw solid #C6C6C6;
}

@media only screen and (max-width: 768px) {
    .centerLine div {
        position: relative;
        width: 100%;
        border-top: 0.8vw solid #C6C6C6;
    }
}

.rightDiv {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

@media only screen and (max-width: 768px) {
    .rightDiv {
        width: 100%;
        height: 60%;

        /* background-color: red; */
    }
}

.individualDiv {
    width: 23vw;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;

    margin: 1.04vw 0vw;
}

@media only screen and (max-width: 768px) {
    .individualDiv {
        width: 100%;
        margin: 5vw 0vw 0vw 25vw;

        position: relative;
        top: -2vw;
    }
}

.individualDiv2 {
    width: 21vw;

    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;

    margin: 1.04vw 0vw;
}

@media only screen and (max-width: 768px) {
    .individualDiv2 {
        width: 100%;
        margin: 5vw 0vw 0vw 25vw;

        position: relative;
        top: -3vw;
    }
}

.screw {
    width: 1vw;
    height: 1vw;
    border-radius: 50%;
    background-color: #C6C6C6;

    position: absolute;
}

@media only screen and (max-width: 768px) {
    .screw {
        width: 2vw;
        height: 2vw;

        position: relative;
    }
}

.screwLocation {
    top : 4%;
    margin-right: 66%;
}
.screwLocation2 {
    top : 4%;
    margin-left: 66%;
}
.screwLocation3 {
    bottom : 4%;
    margin-right: 66%;
}
.screwLocation4 {
    bottom : 4%;
    margin-left: 66%;
}

@media only screen and (max-width: 768px) {
    .screwLocation {
        top : -93%;
        margin-right: 90%;
    }
    .screwLocation2 {
        top : -94%;
        margin-left: 90%;
    }
    .screwLocation3 {
        bottom : 1%;
        margin-right: 90%;
    }
    .screwLocation4 {
        bottom : 2%;
        margin-left: 90%;
    }
}

.switchDiv {
    width: 10vw;
    height: 3vw;
    border-radius: 2vw;
    background-color: #E8E8E8;

    display: flex;
    justify-content: space-between;
    align-items: center;

    position: relative;
    margin-top: 5%;
    margin-bottom: 5%;

    box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.2);
}

@media only screen and (max-width: 768px) {
    .switchDiv {
        width: 30vw;
        height: 8vw;

        border-radius: 10vw;
    }
}

.switchTextDiv{
    display: flex;
    justify-content: center;
    align-items: center;

    width: 50%;

}

.switchP {
    font-size: 1vw;
    z-index: 1;

    cursor: pointer;
}

@media only screen and (max-width: 768px) {
    .switchP {
        font-size: 3vw;
    }
}

.switchBtn {
    width: 5vw;
    height: 3vw;
    border-radius: 2.78vw;
    background-color: #F0F0F0;

    position: absolute;

    box-shadow: 5px 2px 5px rgba(0, 0, 0, 0.3);
}

@media only screen and (max-width: 768px) {
    .switchBtn {
        width: 50%;
        height: 100%;

        border-radius: 20vw;
    }
}

.goToAboutMe {
    animation-direction: reverse;
    animation-duration: 0.3s;
    animation-name: switchChange;
}

.goToTechlore {
    left: 5vw;
    box-shadow: -5px 2px 5px rgba(0, 0, 0, 0.2);

    animation-direction: normal;
    animation-duration: 0.3s;
    animation-name: switchChange;

}

@media only screen and (max-width: 768px) {
    .goToAboutMe {
        animation-name: switchChangeMobile;
    }

    .goToTechlore {
        left: 50%;
        animation-name: switchChangeMobile;
    }
}

@keyframes switchChange {
    0% {
        left: 0vw;
    }

    25% {
        left: 1vw;
    }

    50% {
        left: 2vw;
    }

    75% {
        left: 3vw;
    }

    100% {
        left: 5vw;
    }
}

@keyframes switchChangeMobile {
    0% {
        left: 0%;
    }

    25% {
        left: 12%;
    }

    50% {
        left: 25%;
    }

    75% {
        left: 38%;
    }

    100% {
        left: 50%;
    }
}