.totalDiv {
    width: 100%;
    height: 71.11vw;

    background: linear-gradient(to bottom, #1B4669, #668DAE);
    /* background-color: red; */
}

@media only screen and (max-width: 768px) {
    .totalDiv {
        height: 100vh;
    }
}

.centerDiv {
    position: relative; 
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.boxDiv {
    background-color: white;
    border-radius: 1.04vw;

    width: 69.44vw;
    height: 41.67vw;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    margin-bottom: 1.39vw;

    overflow: hidden;
}

@media only screen and (max-width: 768px) {
    .boxDiv {
        width: 83.33vw;
        height: 160vw;

        border-radius: 2vw;

        flex-direction: column;
        
        margin-bottom: 0vw;

        position: relative;
    }
}

.leftDiv {
    width: 34.72vw;
    height: 41.67vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media only screen and (max-width: 768px) {
    .leftDiv {
        width: 100%;
        height: 50%;
    }
}

.pictureDiv {
    background-color: white;
    border-radius: 2vw;

    width: 22.92vw;
    height: 28.82vw;

    overflow: hidden;
}

@media only screen and (max-width: 768px) {
    .pictureDiv {
        width: 45vw;
        height: 60vw;
    }
}

.pictureDiv img {
    max-width: 100%;
    max-height: 100%;
    object-fit: fill;
}

.centerLine {
    width: 0.05vw;
    height: 100%;

    overflow: hidden;
}

@media only screen and (max-width: 768px) {
    .centerLine {
        width: 100%;
        height: 0.2vw;

        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }
}

.centerLine div {
    height: 100%;
    border-left: 0.6vw dashed #9B9B9B;
    border-right: 0.6vw dashed #9B9B9B;
}

@media only screen and (max-width: 768px) {
    .centerLine div {
        position: relative;
        width: 100%;
        border-top: 1vw dashed #9B9B9B;
    }
}

.rightDiv {
    width: 34.72vw;
    height: 41.67vw;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

@media only screen and (max-width: 768px) {
    .rightDiv {
        width: 100%;
        height: 50%;
    }
}

.individualDiv {
    width: 25vw;
    height: 2.08vw;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;

    position: relative;
    left: 50%;
    transform: translate(-50%, -50%);

    margin: 1.04vw 0vw;
}

@media only screen and (max-width: 768px) {
    .individualDiv {
        width: 60vw;
        height: 6.5vw;

        top: 2%;

        margin: 2vw 0vw;
    }
}

.individualDiv2 {
    width: 24.86vw;

    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;

    position: relative;
    left: 50%;
    transform: translate(-50%, 0%);

    margin: 1.04vw 0vw;
}

@media only screen and (max-width: 768px) {
    .individualDiv2 {
        width: 62vw;
        /* background-color: yellow; */
    }
}

.screw {
    width: 1.04vw;
    height: 1.04vw;
    border-radius: 50%;
    background-color: #C6C6C6;

    position: absolute;
}

@media only screen and (max-width: 768px) {
    .screw {
        width: 2.08vw;
        height: 2.08vw;
    }
}

.screwLocation {
    top : 1.8vw;
    margin-right: 65vw;
}
.screwLocation2 {
    top : 1.8vw;
    margin-left: 65vw;
}
.screwLocation3 {
    bottom : 9.8vw;
    margin-right: 65vw;
}
.screwLocation4 {
    bottom : 9.8vw;
    margin-left: 65vw;
}

@media only screen and (max-width: 768px) {
    .screwLocation {
        top : 2.8vw;
        margin-right: 75vw;
    }
    .screwLocation2 {
        top : 2.8vw;
        margin-left: 75vw;
    }
    .screwLocation3 {
        bottom : 2.8vw;
        margin-right: 75vw;
    }
    .screwLocation4 {
        bottom : 2.8vw;
        margin-left: 75vw;
    }
}

.switchDiv {
    width: 18vw;
    height: 5vw;
    border-radius: 2.78vw;
    background-color: rgba(255, 255, 255, 0.7);

    position: relative;

    margin-top: 1.39vw;

    display: flex;
    justify-content: space-between;
    align-items: center;

    box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.5);
}

@media only screen and (max-width: 768px) {
    .switchDiv {
        width: 35vw;
        height: 10.5vw;

        top: 10.4vw;

        border-radius: 10.5vw;
    }
}

.switchTextDiv{
    display: flex;
    justify-content: center;
    align-items: center;

    width: 50%;
}

.switchP {
    font-size: 1.385vw;
    
    z-index: 1;
    margin: 0vw 1.5vw;

    cursor: pointer;
}

@media only screen and (max-width: 768px) {
    .switchP {
        font-size: 3vw;
    }
}

.switchBtn {
    width: 10vw;
    height: 5vw;
    border-radius: 2.78vw;
    background-color: white;

    position: absolute;

    box-shadow: 5px 2px 5px rgba(0, 0, 0, 0.2);
}

@media only screen and (max-width: 768px) {
    .switchBtn {
        width: 50%;
        height: 100%;

        border-radius: 20vw;
    }
}

.goToAboutMe {
    animation-direction: reverse;
    animation-duration: 0.3s;
    animation-name: switchChange;
}

.goToTechlore {
    left: 45%;
    box-shadow: -5px 2px 5px rgba(0, 0, 0, 0.2);

    animation-direction: normal;
    animation-duration: 0.3s;
    animation-name: switchChange;
}

@media only screen and (max-width: 768px) {
    .goToTechlore {
        left: 50%;
    }
}

@keyframes switchChange {
    0% {
        left: 0%;
    }

    25% {
        left: 11.25%;
    }

    50% {
        left: 22.5%;
    }

    75% {
        left: 33.75%;
    }

    100% {
        left: 45%;
    }
}
