.totalDiv {
    width: 100%;
    
    background: linear-gradient(to bottom, #B9CEE3, #DBECF6);
    background-color: yellow;

    display: flex;
    align-items: center;
    justify-content: center;
}
 
.projectBoxDiv {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;

    /* background-color: green; */
}