.totalDiv{
    position: fixed;
    
    top: 0vw;
    left: 0vw;

    width: 100%;
    height: 100%;

    background: #00000050;

    display: flex;
    justify-content: center;
    align-items: center;

    z-index: 2;
}

.modalDiv{
    width: 76.39vw;
    height: 34.72vw;

    background-color: white;

    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 1.04vw;
    overflow: hidden;
}

@media only screen and (max-width: 768px) {
    .modalDiv {
        width: 83.33vw;
        /* height: 180vw; */
        height: 80.8vh;

        border-radius: 1vh;
    
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
    }
}

.projectPictureDiv {
    width: 45.14vw;
    height: 34.72vw;

    background-color: #9B9B9B;
}

@media only screen and (max-width: 768px) {
    .projectPictureDiv {
        width: 83.33vw;
        /* height: 62.16vw; */
        height: 28vh;

        position: relative;
        
        /* margin-top: -1.6vw; */
        margin-top: -0.7vh;
        /* top: 8.4vw; */
        top: 4.4vh;

        /* display: flex;
        align-items: center;
        justify-content: center; */
    }
}

.projectPictureDiv img {
    width: 45.14vw;
    height: 34.72vw;
}

@media only screen and (max-width: 768px) {
    .projectPictureDiv img {
        width: 83.33vw;
        /* height: 62.16vw; */
        height: 28vh;
    }
}

.projectPictureDiv div {
    position: relative;
    top: -97%;
    font-size: 1.11vw;
    font-weight: 600;

    display: flex;
    align-items: center;
    justify-content:center;
}

@media only screen and (max-width: 768px) {
    .projectPictureDiv div {
        font-size: 1.6vh;
    }
}

.projectYouTubeIframe {
    width: 45.14vw;
    height: 34.72vw;
}

@media only screen and (max-width: 768px) {
    .projectYouTubeIframe {
        width: 83.33vw;
        /* height: 62.16vw; */
        height: 28vh;

        position: relative;
        /* top: 8.6vw; */
        top: 3.6vh;

        margin: 0vw 0vw;
    }
}

.sectionDiv {
    width: 45.14vw;
    height: 34.72vw;

    position: relative;
    margin-top: -2.6vw;

    display: flex;
    align-items: center;
    justify-content:space-between;

    /* background-color: red; */
}

@media only screen and (max-width: 768px) {
    .sectionDiv {
        width: 83.33vw;
        height: 100%;

        margin-top: -3vh;
    }
}

.sectionDiv div{
    width: 22.57vw;
    height: 34.72vw;

    /* background-color: yellow; */

    position: relative;
    margin-top: 67.4vw;

    /* border: 2px solid black;  */
}

@media only screen and (max-width: 768px) {
    .sectionDiv div {
        width: 50%;
        height: 100%;

        margin-top: 54.4vh;
    }
}

.projectPictureSelectTotalDiv {
    position: relative;
    height: 0.69vw;

    margin-top: -1.5vw;

    display: flex;
    align-items: center;
    justify-content: center;
}

@media only screen and (max-width: 768px) {
    .projectPictureSelectTotalDiv {
        /* top: -66vw; */
        margin-top: -1.5vh;
    }
}

.projectPictureSelectDiv {
    width: 0.69vw;
    height: 0.69vw;
    border-radius: 50%;
    margin: 0vw 0.35vw;
}

@media only screen and (max-width: 768px) {
    .projectPictureSelectDiv {
        width: 1.8vw;
        height: 280%;
        margin: 0vw 0.8vw;
    }
}

.rightDiv{
    /* width: 31.18vw; */
    /* height: 34.72vw; */

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

    /* background-color: blue; */
}

.headerDiv {
    width: 31.18vw;
    height: 3.89vw;

    background-color: #C6C6C6;
    /* background-color: #B3B3B3; */

    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;
    top: -1.1vw;
}

@media only screen and (max-width: 768px) {
    .headerDiv {
        position: relative;
        /* top: -61vw; */
        top: -27.4vh;

        width: 83.33vw;
        /* height: 9vw; */
        height: 3.8vh;
    }
}

.headerDiv h1 {
    position: absolute;

    font-size: 1.39vw;
    font-weight: bold;
}

@media only screen and (max-width: 768px) {
    .headerDiv h1 {
        font-size: 1.8vh;
        font-weight: bold;
    }
}

.switchDiv {
    width: 9vw;
    height: 2.8vw;
    border-radius: 2.78vw;
    background-color: #F0F0F0;

    position: relative;
    margin-right: 16vw;

    display: flex;
    justify-content: space-between;
    align-items: center;

    box-shadow: inset 0px 0px 5px rgba(0, 0, 0, 0.2);
}

@media only screen and (max-width: 768px) {
    .switchDiv {
        width: 25vw;
        /* height: 6.72vw; */
        height: 3vh;
        
        border-radius: 2vh;

        margin-right: 0vw;
        left: -24vw;
    }
}

.switchDiv p{
    font-size: 0.97vw;
    font-weight: 400;
    
    z-index: 1;

    cursor: pointer;
}

@media only screen and (max-width: 768px) {
    .switchDiv p{
        font-size: 1.2vh;
    }
}

.switchDiv p:first-of-type {
    margin-left: 0.5vw;
}

@media only screen and (max-width: 768px) {
    .switchDiv p:first-of-type {
        margin-left: 1vw;
    }
}

.switchDiv p:last-of-type {
    margin-right: 0.5vw;
}

@media only screen and (max-width: 768px) {
    .switchDiv p:last-of-type {
        margin-right: 1vw;
    }
}

.switchBtn {
    width: 4.5vw;
    height: 2.8vw;
    border-radius: 2.78vw;
    background-color: white;

    position: absolute;

    box-shadow: 5px 0px 5px rgba(0, 0, 0, 0.4);
}

@media only screen and (max-width: 768px) {
    .switchBtn {
        width: 12vw;
        /* height: 6.72vw; */
        height: 3vh;
        
        border-radius: 2vh;
    }
}

.goToPicture {
    animation-direction: reverse;
    animation-duration: 0.3s;
    animation-name: switchChange;
}

.goToYouTube {
    left: 45%;
    box-shadow: -5px 0px 5px rgba(0, 0, 0, 0.4);
    
    width: 5vw;

    animation-direction: normal;
    animation-duration: 0.3s;
    animation-name: switchChange;
}

@media only screen and (max-width: 768px) {
    .goToYouTube {
        width: 13.8vw;
    }
}

@keyframes switchChange {
    0% {
        left: 0%;
    }

    25% {
        left: 11.25%;
    }

    50% {
        left: 22.5%;
    }

    75% {
        left: 33.75%;
    }

    100% {
        left: 45%;
    }
}

.closeIconDiv {
    width: 2.4vw;
    height: 2.4vw;
    border-radius: 50%;

    position: relative;
    left: 1vw;

    display: flex;
    align-items: center;
    justify-content: center;

    cursor: pointer;
    transition: background-color 0.3s;
}

@media only screen and (max-width: 768px) {
    .closeIconDiv {
        width: 5.76vw;
        /* height: 5.76vw; */
        height: 65%;

        position: relative;
        left: 24vw;
    }
}

.closeIconDiv:hover {
    background-color: rgba(255, 255, 255, 0.6);
}

.closeIconDiv div {
    position: absolute;
    width: 1.7vw;
    height: 0.2vw;
    background-color: #646464;
    border-radius: 1vw;
}

@media only screen and (max-width: 768px) {
    .closeIconDiv div {
        width: 4.08vw;
        /* height: 0.48vw; */
        height: 0.25vh;
    }
}

.closeIconDiv > div:first-child {
    transform: rotate(45deg);
}

.closeIconDiv > div:last-child {
    transform: rotate(-45deg);
}

.contentDiv {
    width: 31.18vw;
    /* height: 30.83vw; */

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    overflow: hidden;
}

@media only screen and (max-width: 768px) {
    .contentDiv {
        width: 83.33vw;
        /* height: 110.66vw; */
        height: 49.7vh;

        /* position: relative; */
        top: 50vw;
    }
}

.contentDiv2 {
    /* width: 31.0vw; */
    width: 31.18vw;
    /* 스크롤바 right에 딱 붙이려면 31.18vw */
    height: 28.75vw;

    overflow-y: auto;

    /* background-color: yellow; */
}

@media only screen and (max-width: 768px) {
    .contentDiv2 {
        width: 83.33vw;
        /* height: 100.66vw; */
        height: 45vh;
    }
}

.contentDiv2::-webkit-scrollbar {
    /* width: 0.35vw; */
    width: 0.5vw;
}

@media only screen and (max-width: 768px) {
    .contentDiv2::-webkit-scrollbar {
        width: 1.5vw;
    }
}

.contentDiv2::-webkit-scrollbar-thumb {
    background-color: #C6C6C6;
    border-radius: 2vw;
}

.contentDiv2::-webkit-scrollbar-track {
    background-color: transparent;
}

.contentDiv2 h2 {
    font-weight: 600;

    margin-bottom: 0.69vw;
    margin-left: 2.69vw;

    /* font-size: 1.11vw; */
}

@media only screen and (max-width: 768px) {
    .contentDiv2 h2 {
        font-size: 1.6vh;
        /* margin-bottom: 3vw; */
        margin-bottom: 1.4vh;
    }
}

.contentDiv2 p {
    /* font-size: 1.11vw; */

    margin: 0vw 2.69vw 1.39vw 2.69vw;

    white-space: pre-wrap;
    text-overflow: ellipsis;
}

@media only screen and (max-width: 768px) {
    .contentDiv2 p {
        font-size: 1.6vh;
        /* margin-bottom: 4vw; */
        margin-bottom: 1.8vh;
    }
}

.ectContentDiv {
    display: flex;
    flex-direction: column;
}

.ectContentPandADiv {
    display: flex;
    align-items: center;
    /* background-color: yellow; */
}

.ectContentPandADiv p {
    margin-bottom: 0.35vw;
}

.ectContentPandADiv a {
    margin-bottom: 0.35vw;
    margin-left: -2vw;

    font-weight: bold;
    color: #4D4D4D;
}

@media only screen and (max-width: 768px) {
    .ectContentPandADiv a {
        margin-left: 0vw;
        font-size: 1.6vh;
    }
}