.totalDiv{
    position: fixed;
    
    top: 0vw;
    left: 0vw;

    width: 100%;
    height: 100%;

    background: #00000050;

    display: flex;
    justify-content: center;
    align-items: center;

    z-index: 2;
}

.modalDiv{
    width: 80vw;
    height: 40vw;

    background-color: white;

    display: flex;
    justify-content: center;

    border-radius: 1vw;
    overflow: hidden;
}

@media only screen and (max-width: 768px) {
    .modalDiv {
        width: 80%;
        height: 150vw;

        border-radius: 2vw;
    
        flex-direction: column;
        align-items: center;
    }
}

.projectPictureDiv {
    position: relative;
    width: 117vw;
    height: 40vw;

    background-color: rgba(0, 0, 0, 0.5);
    overflow: hidden;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

@media only screen and (max-width: 768px) {
    .projectPictureDiv {
        width: 100%;
        height: 45%;

        position: relative;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}

.projectPictureDiv img {
    width: 46vw;
    height: calc(46vw * 303 / 640);
    object-fit:cover;

    margin-bottom: 1vw;

    border-radius: 0.5vw;
}

@media only screen and (max-width: 768px) {
    .projectPictureDiv img {
        width: 100%;
        height: 38vw;

        border-radius: 0vw;
        margin-bottom: 0vw;
    }
}

.aboutCaptureDiv {
    width: 100%;
    height: 2vw;

    display: flex;
    align-items: center;
    justify-content:center;

    position: relative;
    top: 4vw;
}

.aboutCaptureDiv p {
    color: #E8E8E8;
}

.projectYouTubeIframe {
    width: 117vw;
    height: 40vw;
}

@media only screen and (max-width: 768px) {
    .projectYouTubeIframe {
        width: 100%;
        height: 45%;

        position: relative;
    }
}

.sectionDiv {
    width: 45.14vw;
    height: 34.72vw;

    position: absolute;
    top: 0vw;

    display: flex;
    align-items: center;
    justify-content:space-between;
}

@media only screen and (max-width: 768px) {
    .sectionDiv {
        width: 100%;
        height: 100%;

        position: absolute;
    }
}

.sectionDiv div{
    width: 22.57vw;
    height: 34.72vw;
    position: relative;
}

@media only screen and (max-width: 768px) {
    .sectionDiv div {
        width: 50%;
        height: 100%;
    }
}

.projectPictureSelectTotalDiv {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 2vw;

    margin-bottom: 1vw;

    /* background-color: red; */

    
    position: relative;
    top: 4vw;
}

@media only screen and (max-width: 768px) {
    .projectPictureSelectTotalDiv {
        top: 58vw;

        width: auto;
        height: 2vw;

        background-color: #FFFFFF;
        opacity: 0.7;
        padding: 0vw 0.8vw;
        border-radius: 1vw;
    }
}

.projectPictureSelectDiv {
    width: 1vw;
    height: 1vw;
    margin: 0vw 0.35vw;

    cursor: pointer;

    display: flex;
    align-items: center;
}

.projectPictureSelectDiv1 {
    width: 1vw;
    height: 0.2vw;
}

@media only screen and (max-width: 768px) {
    .projectPictureSelectDiv1 {
        width: 2vw;
        height: 2vw;
        margin: 0vw 0.8vw;
    }
}

.rightDiv{
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    background-color: #C6C6C6;
}

@media only screen and (max-width: 768px) {
    .rightDiv {
        width: 100%;
        height: 45%;

        position: relative;
    }
}

.headerDiv {
    width: 100%;
    height: 10%;

    background: linear-gradient(to bottom, #C6C6C6 0%, #E0E0E0 25%, #ffffff 50%, #E0E0E0 75%, #C6C6C6 100%);
    
    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;
}

@media only screen and (max-width: 768px) {
    .headerDiv {
        position: absolute;
        top: -111%;

        width: 100%;
        height: 11%;
    }
}

.headerDiv h1 {
    position: absolute;

    font-size: 1.3vw;
    font-weight: bold;
}

@media only screen and (max-width: 768px) {
    .headerDiv h1 {
        font-size: 3.5vw;
    }
}

.switchDiv {
    width: 9vw;
    height: 3vw;
    border-radius: 2.78vw;
    background-color: #F0F0F0;

    position: absolute;
    left: 2vw;

    display: flex;
    justify-content: space-between;
    align-items: center;

    box-shadow: inset 0px 0px 5px rgba(0, 0, 0, 0.6);
}

@media only screen and (max-width: 768px) {
    .switchDiv {
        width: 24vw;
        height: 80%;
        
        border-radius: 4vw;

        left: 3vw;
    }
}

.switchDiv p{
    font-size: 0.97vw;
    font-weight: 400;
    
    z-index: 1;

    cursor: pointer;
}

@media only screen and (max-width: 768px) {
    .switchDiv p{
        font-size: 2.5vw;
    }
}

.switchDiv p:first-of-type {
    margin-left: 0.5vw;
}

@media only screen and (max-width: 768px) {
    .switchDiv p:first-of-type {
        margin-left: 1vw;
    }
}

.switchDiv p:last-of-type {
    margin-right: 0.5vw;
}

@media only screen and (max-width: 768px) {
    .switchDiv p:last-of-type {
        margin-right: 1.5vw;
    }
}

.switchBtn {
    width: 4.5vw;
    height: 2.8vw;
    border-radius: 2.78vw;
    background-color: white;

    position: absolute;

    box-shadow: 5px 0px 5px rgba(0, 0, 0, 0.3);
}

@media only screen and (max-width: 768px) {
    .switchBtn {
        width: 12vw;
        height: 100%;
        
        border-radius: 4vw;
    }
}

.goToPicture {
    animation-direction: reverse;
    animation-duration: 0.3s;
    animation-name: switchChange;
}

.goToYouTube {
    left: 45%;
    box-shadow: -5px 0px 5px rgba(0, 0, 0, 0.4);
    
    width: 5vw;

    animation-direction: normal;
    animation-duration: 0.3s;
    animation-name: switchChange;
}

@media only screen and (max-width: 768px) {
    .goToYouTube {
        width: 13.2vw;
    }
}

@keyframes switchChange {
    0% {
        left: 0%;
    }

    25% {
        left: 11.25%;
    }

    50% {
        left: 22.5%;
    }

    75% {
        left: 33.75%;
    }

    100% {
        left: 45%;
    }
}

.closeIconDiv {
    width: 2.4vw;
    height: 2.4vw;
    border-radius: 0.8vw;

    position: absolute;
    right: 1vw;

    display: flex;
    align-items: center;
    justify-content: center;

    cursor: pointer;
    transition: background-color 0.3s;
}

@media only screen and (max-width: 768px) {
    .closeIconDiv {
        width: 5.76vw;
        height: 5.76vw;

        position: absolute;
        right: 3vw;
    }
}

.closeIconDiv:hover {
    background-color: rgba(255, 255, 255, 0.6);
    box-shadow: inset 0 0 10px 5px rgba(0, 0, 0, 0.3);
}

.closeIconDiv div {
    position: absolute;
    width: 1.7vw;
    height: 0.2vw;
    background-color: #646464;
    border-radius: 1vw;
}

@media only screen and (max-width: 768px) {
    .closeIconDiv div {
        width: 4.08vw;
        /* height: 0.48vw; */
        height: 0.25vh;
    }
}

.closeIconDiv > div:first-child {
    transform: rotate(45deg);
}

.closeIconDiv > div:last-child {
    transform: rotate(-45deg);
}

.contentDiv {
    width: 100%;
    height: 80%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    overflow: hidden;

    background-color: white;
}

@media only screen and (max-width: 768px) {
    .contentDiv {
        width: 100%;
        height: 100%;

        position: relative;
        top: 0vw;
    }
}

.contentDiv2 {
    width: 100%;
    height: 100%;
    overflow-y: auto;
    /* background-color: gray; */
    position: relative;

    padding-top: 2vw;
}

@media only screen and (max-width: 768px) {
    .contentDiv2 {
        width: 100%;
        height: 100%;

        position: relative;
        top: 0vw;

        padding: 4vw 0vw 2vw 0vw;
    }
}

.contentGradationDiv {
    width: 30vw;
    height: 32vw;
    overflow-y: auto;
    position: absolute;
}

/* 상단 그라데이션 */
.contentGradationDiv:before {
    content: "";
    position: absolute;
    top: 0vw;
    width: 100%;
    height: 2vw;
    background: linear-gradient(to bottom, white, transparent);
    pointer-events: none;
    z-index: 1;
}

/* 하단 그라데이션 */
.contentGradationDiv:after {
    content: "";
    position: absolute;
    bottom: 0vw;
    width: 100%;
    height: 2vw;
    background: linear-gradient(to top, white, transparent);
    pointer-events: none;
    z-index: 1;
}

@media only screen and (max-width: 768px) {
    .contentGradationDiv {
        width: 100%;
        height: 100%;
    }

    /* 상단 그라데이션 */
    .contentGradationDiv:before {
        width: 100%;
        height: 5vw;
    }

    /* 하단 그라데이션 */
    .contentGradationDiv:after {
        width: 100%;
        height: 5vw;
    }
}

.contentDiv2::-webkit-scrollbar {
    /* width: 0.35vw; */
    width: 0.5vw;
}

@media only screen and (max-width: 768px) {
    .contentDiv2::-webkit-scrollbar {
        width: 1.2vw;
    }
}

.contentDiv2::-webkit-scrollbar-thumb {
    background-color: #C6C6C6;
    border-radius: 2vw;
}

.contentDiv2::-webkit-scrollbar-track {
    background-color: transparent;
}

.contentDiv2 h2 {
    font-weight: 600;
    font-size: 1.3vw;

    margin-bottom: 2%;
    margin-left: 5%;

}

@media only screen and (max-width: 768px) {
    .contentDiv2 h2 {
        font-size: 3.5vw;
        margin-bottom: 3vw;
    }
}

.contentDiv2 p {
    margin: 0vw 5% 2vw 5%;
    /* font-size: 1.2vw; */
    white-space: pre-wrap;
    text-overflow: ellipsis;

    background-color: #E8E8E8;
    padding: 0.8vw 0.8vw;
    border-radius: 0.5vw;
    line-height: 1.5;
}

@media only screen and (max-width: 768px) {
    .contentDiv2 p {
        font-size: 3.5vw;
        border-radius: 1vw;

        margin-bottom: 4vw;
        padding: 2vw 2vw;
    }
}

.pageDiv {
    position: relative;

    width: 100%;
    height: 10%;

    display: flex;
    align-items: center;
    justify-content: center;

    background: linear-gradient(to bottom, #C6C6C6 0%, #E0E0E0 25%, #ffffff 50%, #E0E0E0 75%, #C6C6C6 100%);

}

@media only screen and (max-width: 768px) {
    .pageDiv {
        width: 100%;
        height: 11%;

        bottom: -11.2%;
        position: absolute;
    }
}

.pageIconLeft {
    width: 2.5vw;
    height: 2.5vw;

    border-radius: 0.8vw;

    
    display: flex;
    align-items: center;
    justify-content: center;

    position: absolute;
    left : 3.5vw;
}

@media only screen and (max-width: 768px) {
    .pageIconLeft {
        width: 6vw;
        height: 6vw;
    }
}

.pageIconRight {
    width: 2.5vw;
    height: 2.5vw;

    border-radius: 0.8vw;
    
    display: flex;
    align-items: center;
    justify-content: center;

    position: absolute;
    right: 3.5vw;
}

@media only screen and (max-width: 768px) {
    .pageIconRight {
        width: 6vw;
        height: 6vw;
    }
}

.pageIconLeft:hover {
    background-color: #E8E8E8;
    box-shadow: inset 0 0 10px 5px rgba(0, 0, 0, 0.3);
}

.pageIconRight:hover {
    background-color: #E8E8E8;
    box-shadow: inset 0 0 10px 5px rgba(0, 0, 0, 0.3);
}

@media only screen and (max-width: 768px) {
    .pageIconLeft:hover {
        background-color: #E6E6E6;
    }
    
    .pageIconRight:hover {
        background-color: #E6E6E6;
    }
    
}

.pageText {
    position: absolute;
    font-size: 1.25vw;
}

@media only screen and (max-width: 768px) {
    .pageText {
        font-size: 3vw;
    }
}
