.totalDiv {
    width: 100vw;
    height: 100vh;

    /* background: linear-gradient(to bottom, #668DAE, #B9CEE3); */
}

@media only screen and (max-width: 768px) {
    .totalDiv {
        height: 100vh;
    }
}

.centerDiv {
    position: relative; 
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);

    display: flex;
    align-items: center;
    justify-content: center;
    
    background-color: #F5F5F5;
    border-radius: 1.5vw;

    width: 75%;
    height: 36vw;

    overflow: hidden;
}

@media only screen and (max-width: 768px) {
    .centerDiv {
        width: 80%;
        height: 150vw;
        border-radius: 2vw;

        flex-direction: column;
    }
}

.topDiv {
    width: 45%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media only screen and (max-width: 768px) {
    .topDiv {
        width: 100%;
        height: 50%;

        /* background-color: red; */
    }
}

.fontEndBoxDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.tilteDiv {
    font-size: 1.3vw;
    font-weight: bold;
}

@media only screen and (max-width: 768px) {
    .tilteDiv {
        font-size: 3.5vw;
    }
}

.fontEndBoxDiv h1{
    margin-bottom: 1vw;
}

@media only screen and (max-width: 768px) {
    .fontEndBoxDiv h1 {
        margin-bottom: 2vw;
    }
}

.restTitle{
    margin-bottom: 1vw;
}

@media only screen and (max-width: 768px) {
    .restTitle {
        margin: 2vw 0vw;
    }
}

.frontEndLineDiv {
    display: flex;
    align-items: center;
    justify-content: center;
}

@media only screen and (max-width: 768px) {
    .frontEndLineDiv {
        margin-bottom: 4vw;
        justify-content: center;
    }
}

.iconTotalDiv {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    flex-wrap: wrap;
}

@media only screen and (max-width: 768px) {
    .iconTotalDiv {
        width: 100%;
    }
}

.iconDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    margin: 0.6vw 1.2vw;
}

.iconDiv2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    margin: 0.6vw 0.8vw;
}

@media only screen and (max-width: 768px) {
    .iconDiv2 {
        margin: 0vw 2vw;
    }
}

.horizontalDividingLine {
    width: 0.05%;
    height: 65%;

    overflow: hidden;

    position: relative;
    background-color: #C6C6C6;

}

@media only screen and (max-width: 768px) {
    .horizontalDividingLine {
        width: 65%;
        height: 0.05%;
        background-color: #C6C6C6;
        position: absolute;
    }
}

.bottomDiv {
    width: 45%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

@media only screen and (max-width: 768px) {
    .bottomDiv {
        width: 100%;
        height: 50%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}

/* .restLineDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
} */

.verticalDividingLine {
    width: 50%;
    height: 0.08vw;

    overflow: hidden;
    position: relative;

    background-color: #C6C6C6;
}

@media only screen and (max-width: 768px) {
    .verticalDividingLine {
        width: 65%;
        height: 0.05%;

        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }
}

.bottomDetailDiv {
    width: 100%;
    height: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

@media only screen and (max-width: 768px) {
    .bottomDetailDiv {
        width: 100%;
        height: 33.3%;
    }
}

.screw {
    width: 1vw;
    height: 1vw;
    border-radius: 50%;
    background-color: #C6C6C6;

    position: absolute;
}

@media only screen and (max-width: 768px) {
    .screw {
        width: 2.08vw;
        height: 2.08vw;
    }
}

.screwLocation {
    top : 4%;
    margin-right: 95%;
}
.screwLocation2 {
    top : 4%;
    margin-left: 95%;
}
.screwLocation3 {
    bottom : 4%;
    margin-right: 95%;
}
.screwLocation4 {
    bottom : 4%;
    margin-left: 95%;
}

@media only screen and (max-width: 768px) {
    .screwLocation {
        top : 2%;
        margin-right: 90%;
    }
    .screwLocation2 {
        top : 2%;
        margin-left: 90%;
    }
    .screwLocation3 {
        bottom : 2%;
        margin-right: 90%;
    }
    .screwLocation4 {
        bottom : 2%;
        margin-left: 90%;
    }
}