.totalDiv {
    width: 100%;
    height: 71.11vw;

    background: linear-gradient(to bottom, #668DAE, #B9CEE3);
    /* background-color: red; */
}

@media only screen and (max-width: 768px) {
    .totalDiv {
        height: 100vh;
    }
}

.centerDiv {
    position: relative; 
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    
    background-color: white;
    border-radius: 1.5vw;

    width: 55.56vw;
    height: 55.56vw;

    overflow: hidden;
}

@media only screen and (max-width: 768px) {
    .centerDiv {
        width: 83.33vw;
        height: 170vw;

        border-radius: 2vw;

        top: 105vw;
    }
}

.topDiv {
    width: 55.56vw;
    height: 27.78vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media only screen and (max-width: 768px) {
    .topDiv {
        width: 100%;
        height: 50%;
    }
}

.fontEndBoxDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.tilteDiv {
    font-size: 1.39vw;
    font-weight: bold;
}

@media only screen and (max-width: 768px) {
    .tilteDiv {
        font-size: 4vw;
    }
}

.fontEndBoxDiv h1{
    margin-bottom: 1vw;
}

@media only screen and (max-width: 768px) {
    .fontEndBoxDiv h1 {
        margin-bottom: 4vw;
    }
}

.restTitle{
    margin-bottom: 2.78vw;
}

@media only screen and (max-width: 768px) {
    .restTitle {
        margin: 2vw 0vw;
    }
}

.frontEndLineDiv {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

@media only screen and (max-width: 768px) {
    .frontEndLineDiv {
        margin-bottom: 4vw;
        justify-content: center;
    }
}

.iconTotalDiv {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    flex-wrap: wrap;
    width: 16vw;
}

@media only screen and (max-width: 768px) {
    .iconTotalDiv {
        width: 100%;
    }
}

.iconDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    margin: 0.6vw 1.2vw;
}

.iconDiv2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    margin: 0.6vw 0.8vw;
}

@media only screen and (max-width: 768px) {
    .iconDiv2 {
        margin: 0vw 2vw;
    }
}

.horizontalDividingLine {
    width: 100%;
    height: 0.05vw;

    overflow: hidden;
}

.horizontalDividingLine div {
    height: 100%;
    border-top: 0.6vw dashed #9B9B9B;
    border-bottom: 0.6vw dashed #9B9B9B;
}

@media only screen and (max-width: 768px) {
    .horizontalDividingLine {
        height: 0.2vw;
    }
    
    .horizontalDividingLine div {
        border-top: 1vw dashed #9B9B9B;
    }
}

.bottomDiv {
    width: 55.56vw;
    height: 27.78vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media only screen and (max-width: 768px) {
    .bottomDiv {
        width: 100%;
        height: 50%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}

/* .restLineDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
} */

.verticalDividingLine {
    width: 0.05vw;
    height: 100%;

    overflow: hidden;
}

@media only screen and (max-width: 768px) {
    .verticalDividingLine {
        /* 눈으로 안 보임 */
        width: 100%;
        height: 0.2vw;

        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }
}

.verticalDividingLine div {
    height: 100%;
    border-left: 0.6vw dashed #9B9B9B;
    border-right: 0.6vw dashed #9B9B9B;
}

@media only screen and (max-width: 768px) {
    .verticalDividingLine div {
        position: relative;
        /* margin-top: 0.6vh; */
        width: 100%;

        /* 주석 제거하면 가로 분할 선 */
        /* border-top: 0.6vh dashed #9B9B9B; */
        /* border-bottom: 0.6vh dashed #9B9B9B; */

        height: 0.01vh;
    }
}

.bottomDetailDiv {
    width: 33.3%;
    height: 27.78vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

@media only screen and (max-width: 768px) {
    .bottomDetailDiv {
        width: 100%;
        height: 33.3%;

        /* background-color: green; */
    }
}

.screw {
    width: 1.04vw;
    height: 1.04vw;
    border-radius: 50%;
    background-color: #C6C6C6;

    position: absolute;
}

@media only screen and (max-width: 768px) {
    .screw {
        width: 2.08vw;
        height: 2.08vw;
    }
}

.screwLocation {
    top : 1.8vw;
    margin-right: 51.5vw;
}
.screwLocation2 {
    top : 1.8vw;
    margin-left: 51.5vw;
}
.screwLocation3 {
    bottom : 1.8vw;
    margin-right: 51.5vw;
}
.screwLocation4 {
    bottom : 1.8vw;
    margin-left: 51.5vw;
}

@media only screen and (max-width: 768px) {
    .screwLocation {
        top : 2.8vw;
        margin-right: 75vw;
    }
    .screwLocation2 {
        top : 2.8vw;
        margin-left: 75vw;
    }
    .screwLocation3 {
        bottom : 2.8vw;
        margin-right: 75vw;
    }
    .screwLocation4 {
        bottom : 2.8vw;
        margin-left: 75vw;
    }
}